<!DOCTYPE html> 
<html lang="en"> 
<head> 
 <meta charset="UTF-8"> 
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
 <title>My Website - About</title> 
</head> 
<body> 
 <h1>JARIEL-JON MILLER</h1> 
 <p>I am a hard-working individual who strives at what he does. To 
    me, the experience and journey is worth more than the reward. 
    But the reward can sometimes be very rewarding. My name is 
    Jariel-Jon Miller and I am your next shadow chairman of the board 
    of commissioners.</p>
 <img src="{{ url_for('static', filename='pikachu.jpeg') }}" alt="PIKACHU image">  
 
</body> 
</html>